<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="HandheldFriendly" content="true"/>
	<meta name="MobileOptimized" content="320"/>
    <title></title>
    
    <script src="../js/common.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../js/util/backToKillApp.js"></script>
    <script src="../js/lib/angular/angular.min.js"></script>
    <script src="../js/module/testapp.js"></script>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8">
    
    	document.addEventListener('plusready',plusReady,false);
    
        //扫描完的回调函数
	  	function scaned( t, r, f ) {
	  		document.getElementById('ticket').value = r;
		}
	  	
	  	function plusReady(){

		}
	  	
      	mui.init();
    </script>
</head>
<body>
	
	<div class="mui-content-padded">
		<div id="loginForm">
			<div id="profileCard" class="mui-card">
				<form class="mui-input-group">
					<div class="mui-input-row">
						<label>用户名</label>
						<input type="text" placeholder="普通输入框">
					</div>
					<div class="mui-input-row">
						<label>密码</label>
						<input type="text" class="mui-input-clear" placeholder="带清除按钮的输入框">
					</div>
					<div class="mui-button-row">
						<button class="mui-btn mui-btn-primary" onclick="alert('submit');">确认</button>&nbsp;&nbsp;
						<button class="mui-btn mui-btn-primary" onclick="alert('cancel');">取消</button>&nbsp;&nbsp;
						<button class="mui-btn mui-btn-primary" onclick="alert('register')">注册</button>
					</div>
				</form>
			</div>
		</div>
		<hr />
		<hr />
		<hr />
		<div id="registerByTicket">
			<button class="mui-btn" onclick="clicked('actionpage/barcode_scan.html',true,true);">按钮</button>
			<label for="ticket">扫描票面信息</label><input type="text" name="ticket" id="ticket" value=""/>
		</div>
		
		<div id="ngtest"  ng-app="indexApp" ng-controller="IndexController">
			<h3>angular test</h3>
			<hr></hr>
			注入 与  绑定
			<hr></hr>
			<div>
				<button ng-click="sayHello()">打招呼</button>
				<p>$scope.user =<span ng-bind="user"></span></p>
				<p>$scope.yourname= <span ng-bind="yourname"></span></p>
			</div>
			<div>
				<ul>
					<li ng-repeat="item in list">hello {{item.name}} you are {{item.gender}} and {{item.age}} years old</li>
				</ul>
			</div>
			<div>
			input filter key word:<input type="text" ng-model="keyword" />
			order by select:
			<select ng-model="orderProp">
		  		<option value="name">name</option>
		  		<option value="age">age</option>
		  		<option value="gender">gender</option>
			</select>
				<ul>
					<li ng-repeat="item in list  | filter:keyword | orderBy:orderProp">hello {{item.name}} you are {{item.gender}} and {{item.age}} years old</li>
				</ul>
			</div>
			
			<hr></hr>
			
			<div>
				Your name: <input type="text" ng-model="yourname" placeholder="World" />
		        Hello {{yourname || 'World'}}!
		        <!-- 双向数据绑定的yourname 变量在$scope域均起作用 -->
			</div>
			<a href="{{url}}">{{url}}</a>
			
			
			<hr></hr>
			HTTP 传值
			<hr></hr>
			<div>VALUE VIA HTTP: {{valueViaHttp}}</div>
			<button ng-click="addOneServiceTrigger()">调用服务</button>
				
		</div>
	</div>
		

</body>
</html>